# SMTP
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=email@example.com

# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
NODE_ENV=development
BASE_URL=http://localhost:3000
# Prisma
DATABASE_URL="file:./db.sqlite"

# Next Auth
NEXTAUTH_SECRET="XXXXXXXXXXXXXXXXXX"
NEXTAUTH_URL="http://localhost:3000"
