name: Package and Distribute CLI

on:
  workflow_dispatch:
  workflow_call:

jobs:
  pack_deb:
    runs-on: ubuntu-20.04
    env:
      ENVLESS_AUTHOR: 'envless'
    steps:
      - uses: actions/checkout@v3
      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y nsis p7zip-full
      - run: sudo mkdir -p /build
      - name: Install package deps
        run: |
          cp yarn.lock apps/cli
          cd apps/cli
          yarn --frozen-lockfile --network-timeout 1000000
      - name: Building deb
        run: yarn oclif pack:deb --root="./apps/cli"
      - uses: actions/upload-artifact@v3
        with:
          name: packed-deb
          path: /home/runner/work/envless/envless/apps/cli/dist

  pack_tarballs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y nsis p7zip-full
      - run: sudo mkdir -p /build
      - name: Install package deps
        run: |
          pwd
          cp yarn.lock apps/cli
          cd apps/cli
          yarn --frozen-lockfile --network-timeout 1000000
      - name: Building tarballs
        run: yarn oclif pack tarballs --root="./apps/cli"
      - uses: actions/upload-artifact@v3
        with:
          name: packed-tarballs
          path: /home/runner/work/envless/envless/apps/cli/dist


  upload-deb-and-tarballs:
    needs: [pack_deb, pack_tarballs]
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_EC2_METADATA_DISABLED: true
    steps:
      - uses: actions/checkout@v3
      - run: sudo mkdir -p /build
      - uses: actions/download-artifact@v3
        with:
          name: packed-tarballs
          path: /home/runner/work/envless/envless/apps/cli/dist
      - name: List all the downloaded files (for debugging)
        run: ls -R
        working-directory: /home/runner/work/envless/envless/apps/cli/dist
      - run: |
          sudo apt-get update
          sudo apt-get install -y awscli
      - name: yarn install
        run: |
          cp yarn.lock apps/cli
          cd apps/cli
          yarn --frozen-lockfile --prefer-offline --network-timeout 1000000
      - name: Upload tarballs
        run: |
          cd apps/cli
          yarn oclif upload tarballs
      - uses: actions/download-artifact@v3
        with:
          name: packed-deb
          path: /home/runner/work/envless/envless/apps/cli/dist
      - name: Upload deb
        run: |
          cd apps/cli
          yarn oclif upload deb
